<% for(let i = 0; i < data.length; i++) { %>

    <div class="input-group ss_input_group_list mt-2">
      <input type="text" class="form-control" value="<%= data[i].category%>" aria-label="Text input with segmented dropdown button">
      <button type="button" class="btn btn-outline-secondary ss_num"><span><%=data[i].count%></span></button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split ss_drop_down" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" id="category_edit" data-bs-target="#editModal" data-bs-toggle="modal" data-id="<%=data[i].id%>">Edit</a></li>

        <% if(data[i].in_use == 1) { %>
            <li><a class="dropdown-item" id="category_delete" data-bs-target="#deleteModal" data-bs-toggle="modal" data-id="<%=data[i].id%>">Delete</a></li>
        <% } else { %>
            <li><a class="dropdown-item" id="category_recover" data-id="<%=data[i].id%>">Recover</a></li>
        <% } %>
  
      </ul>
    </div>

  <% } %>