

<h3 class="ss_author_choice_header">Author choice</h3>
<div class="line mb-4"></div>


<% for(let i = 0; i < side_data.length && i < 4; i++) { %>

    <div class="row ss_content_holder " data-id="<%= side_data[i].id_content %>">

        <div class="col-xl-12 col-sm-5  order-2 order-sm-1 mb-sm-3" id="side_content_img_holder">
    
            <div class="ss_img_content_holder ">
                <img src="<%= side_data[i].content_image %>" alt="">
            </div>
        
        </div>
        
        <div class="col-xl-12 col-sm-7 order-sm-2 mb-sm-0 mb-1" id="side_content_info_holder">
        
            <h3 class="fs-4 ss_content_header"><%= side_data[i].title %></h3>
        
            <div class="d-flex align-items-center d-xl-none d-lg-flex">
                <div class="ss_img_author_holder">
                    <img src="<%= side_data[i].user_image %>" alt="">
                </div>
                <p class="mb-0 ms-2"><%= side_data[i].full_name %> 08/01/2022</p>
            </div>
        
        </div>
    
    </div>


<% } %>


