<% for(let i = 0; i < data.length; i++ ) { %>

    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 p-3">

        <div class="ss_card" data-id="<%= data[i].id_user %>" >

            <h2 class="user_name"><%= data[i].full_name %></h2>
            <p class="user_role"><%= custom.convertRole(data[i].user_role) %></p>
            <p class="user_email"><%= data[i].e_mail %></p>
            <p class="user_num"><%= data[i].num %></p>

            <div class="d-flex justify-content-between ss_buttns_card">

                <button id="button_edit_user" data-bs-target="#editModalUsers" data-bs-toggle="modal" data-facebook="<%= data[i].facebook %>" data-twitter="<%= data[i].twitter %>" data-instagram="<%= data[i].instagram %>">Edit</button>

            </div>

        </div>

    </div>

<% } %>