<div class="container ps-5 ps-sm-4 ">

    <%-include('partials/top_header_admin.ejs') %>

    <% if(typeof data != 'undefined') { %>

        <%- include('partials/popup_add_new.ejs') %>

        <div class="row px-lg-3 mt-lg-4" data-id="<%= data[0].id_content %>" id="main_form">

            <div class="col-lg-9 order-2 order-lg-1 ">
                <input class="ss_input ss_input_category_name" id="input_title" value="<%=data[0].title %>" type="text">
        
                <div class="ss_link d-sm-flex">
        
                    <p>https://www.siteName.com/content/some-header</p>
                    <button>Edit</button>
        
                </div>
        
                <div class="ss_txt_area ">
                    <textarea id="txt_area" cols="30" rows="20"><%=data[0].article%></textarea>
                </div>
            </div>
        
            <div class="col-lg-3 order-1 order-lg-2 mb-3 mb-lg-0 ss_right_block_holder ">
        
                <button class="ss_btn_right_block" id="btn_right_block" data-bs-target="#addNewModal" data-bs-toggle="modal" type="button" >
                    <span ><i class="fas fa-cog"></i></span>
                </button>
        
                <div class="ss_right_block">
            
                    <div class="ss_inputs_block">
            
                        <p>Publish</p>
                        <div class="ss_line"></div>

                        <div class="mb-3">

                            <select class="form-select" id="inputGroup_publish">

                                <% let options_id = ['1','2','3','4']; %>
                                <% let options = ['', 'Publish','Draft','Schedule','Trashe']; %>

                                <% for(let i = 0; i < options_id.length; i++) { %>
                                    <% let selected = (data[0].publish == options_id[i]) ? 'selected' : ''; %>

                                    <option value="<%= options_id[i]%>" <%= selected %> > <%= options[options_id[i]] %> </option>
                                <% } %>
                                
                            </select>

                        </div>
            
                    </div>
            
                    <div class="ss_inputs_block">
            
                        <p>Post</p>
                        <div class="ss_line"></div>

                        

                        <div class="mb-3">
                            <select class="form-select" id="inputGroup_post">

                                <% let post_place_id = ['1','2','3']; %>
                                <% let post_place_options = ['', 'Main article','Article','Author choise']; %>

                                <% for(let i = 0; i < post_place_id.length; i++) { %>
                                    <% let selected = (data[0].post_place == post_place_id[i]) ? 'selected' : ''; %>

                                    <option value="<%= post_place_id[i]%>" <%= selected %> > <%= post_place_options[post_place_id[i]] %> </option>
                                <% } %>

                            </select>
                        </div>
            
                    </div>
            
            
                    <div class="ss_inputs_block">
            
                        <p>Category</p>
                        <div class="ss_line"></div>


                        <div class="input-group mb-3">
                            <input type="text" class="ss_input_tag"> 
                            <button class="btn" id="btn_tag">Click</button>
                        </div>

                        <div class="ss_tags_container" id="inputGroup_category">
                            
                            <% data.forEach( e => { %>

                                <div class="tag_category">
                                    <span><%= e.category_name %></span>
                                </div> 

                            <% }); %>

                
                        </div>
                        
            
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <div class="ss_img_holder">
                                <img id="img_content" src="<%= data[0].image %>" data-old="<%= data[0].image%>" alt="">
                                <input type="file" id="upload" class="ss_input_singin_img" accept="image/png, image/gif, image/jpeg" onchange="previewFile2(this)">
                            </div>

                        </div>

                    </div>
        
                    <div class="ss_button_post">
        
                        <button id="update_content">Update</button>
        
                    </div>
            
                </div>
        
            </div>
        
        </div>


    <% } else { %>

        <%- include('partials/popup_add_new.ejs') %>


        <div class="row px-lg-3 mt-lg-4">

            <div class="col-lg-9 order-2 order-lg-1 ">
                <input class="ss_input ss_input_category_name" id="input_title" value="" type="text">
        
                <div class="ss_link d-sm-flex">
        
                    <p>https://www.siteName.com/content/some-header</p>
                    <button>Edit</button>
        
                </div>
        
                <div class="ss_txt_area">
                    <textarea id="txt_area" cols="30" rows="20"></textarea>
                </div>
            </div>
        
            <div class="col-lg-3 order-1 order-lg-2 mb-3 mb-lg-0 ss_right_block_holder ">
        
                <button class="ss_btn_right_block" id="btn_right_block" data-bs-target="#addNewModal" data-bs-toggle="modal" type="button" >
                    <span ><i class="fas fa-cog"></i></span>
                </button>
        
                <div class="ss_right_block">
            
                    <div class="ss_inputs_block">
            
                        <p>Publish</p>
                        <div class="ss_line"></div>
            
                        <div class="mb-3">
                            <select class="form-select" id="inputGroup_publish" >
                                <option value="" disabled selected value></option>
                                <option value="1">Publish</option>
                                <option value="2">Draft</option>
                                <option value="3">Schedule</option>
                                <option value="3">Trashe</option>
                            </select>
                        </div>
            
                    </div>
            
                    <div class="ss_inputs_block">
            
                        <p>Post</p>
                        <div class="ss_line"></div>
            
                        <div class="mb-3">
                            <select class="form-select" id="inputGroup_post">
                                <option value="" disabled selected value></option>
                                <option value="1">Main article</option>
                                <option value="2">Article</option>
                                <option value="3">Author choise</option>
                            </select>
                        </div>
            
                    </div>
            
            
                    <div class="ss_inputs_block">
            
                        <p>Category</p>
                        <div class="ss_line"></div>

                        <div class="input-group mb-3">
                            <input type="text" class="ss_input_tag">
                            <button class="btn" id="btn_tag">Click</button>
                        </div>

                        <div class="ss_tags_container" id="inputGroup_category">
                            
                
                        </div>
            
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <div class="ss_img_holder">
                                <img id="img_content" src="" alt="">
                                <input type="file" id="upload" class="ss_input_singin_img" accept="image/png, image/gif, image/jpeg" onchange="previewFile2(this)">
                            </div>

                        </div>

                    </div>
        
                    <div class="ss_button_post">
        
                        <button id="post_content_btn">Post</button>
                        <!-- <button type="submit">Post</button> -->
                        <button>Preview</button>
        
                    </div>
            
                </div>
        
            </div>
        
        </div>


    <% } %>





</div>