

<div class="container ps-5 ps-sm-4">

  <%-include('partials/top_header_admin.ejs') %>


  <%- include('partials/filter_nav_admin.ejs') %>


  <%- include('partials/popup_delete.ejs') %>
  <%- include('partials/popup_edit.ejs') %>

  <div id="all_content"> 

    <%- include('partials/all_content_data.ejs') %>

  </div>

</div>



