

<div class="container ps-5 ps-sm-4">

    <%-include('partials/top_header_admin.ejs') %>

    <%- include('partials/filter_nav_admin.ejs') %>

    <%- include('partials/popup_delete.ejs') %>
        <%- include('partials/popup_edit.ejs') %>


    <div class="row mt-5">

        <div class="col-12" id="category_display">

        <%- include('partials/category_list.ejs') %>

        </div>
    
    </div>



</div>