
<div class="container ps-5 ps-sm-4">

    <%-include('partials/top_header_admin.ejs') %>
    <div class="ss_container_settings mx-0">


        <h3>Site icon</h3>
        <div class="row mb-3">

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-8 ss_img_settings">

                <div class="ss_img_holder">

                    <img src="<%= data[0].icon %>" class="ss_img_tag_settings" alt="" id="img_icon" data-oldIcon="<%= data[0].icon %>" >
                    <input type="file" class="ss_input_singin_img ss_input_settings" id="input_file_settings_icon" accept="image/png, image/gif, image/jpeg" onchange="previewFile2(this, '#img_icon')">

                </div>

            </div>

            <div class="col-xl-10  col-lg-9 col-md-8">

                <div class="ss_settings_main_inputs">

                    <div class="">

                        <label for="site_title">Site title</label>
                        <input type="text" class="ss_input_settings" value="<%= data[0].site_title %>" id="site_title">

                    </div>

                    <div class="">

                        <label for="site_tagline">Site tagline</label>
                        <input type="text" class="ss_input_settings" value="<%= data[0].site_tagline %>" id="site_tagline">
                        

                    </div>

                </div>

            </div>

        </div>



        <h3>Site logo</h3>
        <div class="row mb-3">

            <div class="col-xl-2 col-lg-3  col-md-4 col-sm-8 ss_img_settings">

                <div class="ss_img_holder">

                    <img src="<%= data[0].logo %>" class="ss_img_tag_settings" alt="" id="img_logo" data-oldLogo="<%= data[0].logo %>">
                    <input type="file" class="ss_input_singin_img ss_input_settings" id="input_file_settings_logo" accept="image/png, image/gif, image/jpeg" onchange="previewFile2(this, '#img_logo')">

                </div>

            </div>

            <div class="col-xl-10 col-lg-9 col-md-8">

                <div class="d-flex ss_content_page_settings">

                    <div class="">
                        <label for="post_per_page">Post per page</label>
                        <input type="text" class="ss_input_settings ss_input_num" value="<%= data[0].post_per_page %>" id="post_per_page">
                    </div>

                    <div class="">
                        <label for="pag_count">Pagination count</label>
                        <input type="text" class="ss_input_settings ss_input_num" value="<%= data[0].pagination_count %>" id="pag_count">
                    </div>

                </div>

            </div>

        </div>

        <button class="ss_settings_save_button" id="btn_save_settings">Save</button>


    </div>

</div>